<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Add Game</title>
    </head>
    <body>
        <h1>Add Game</h1>
        <form action="/add" method="post">
            <input type="text" name="title" placeholder="Game title" required />
            <input
                type="number"
                name="release_year"
                placeholder="Release year"
                required
            />
            <label for="developer">Developer:</label>
            <select name="developer_id" id="developer">
                <% developers.forEach(dev => { %>
                <option value="<%= dev.developer_id %>"><%= dev.name %></option>
                <% }) %>
            </select>
            <label>Genres:</label>
            <% genres.forEach(genre => { %>
            <label>
                <input
                    type="checkbox"
                    name="genre_id"
                    value="<%= genre.genre_id
                %>"
                />
                <%= genre.name %>
            </label>
            <% }) %>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
