<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Add Game</title>
    </head>
    <body>
        <h1>Add Game</h1>
        <a class="back-link" href="/">Home</a>
        <form class="form" action="/add" method="post">
            <input type="text" name="title" placeholder="Game title" required />
            <input
                type="number"
                name="release_year"
                placeholder="Release year"
                required
            />
            <label for="developer">Developer:</label>
            <select class="dev-select" name="developer_id" id="developer">
                <% developers.forEach(dev => { %>
                <option value="<%= dev.developer_id %>"><%= dev.name %></option>
                <% }) %>
            </select>

            <div class="add-btns-container">
                <button
                    class="add-dev-btn"
                    onclick="modalToggle(addDevModal)"
                    type="button"
                >
                    Add developer
                </button>
                <button
                    class="add-genre-btn"
                    onclick="modalToggle(addGenreModal)"
                    type="button"
                >
                    Add genre
                </button>
            </div>

            <label>Genre:</label>
            <div class="genre-container">
                <% genres.forEach(genre => { %>
                <label class="genre">
                    <input
                        class="genres-checkbox"
                        type="checkbox"
                        name="genre_id"
                        value="<%= genre.genre_id
                    %>"
                    />
                    <%= genre.name %>
                </label>
                <% }) %>
            </div>
            <button class="submit" type="submit">Submit</button>
        </form>

        <form
            style="display: none"
            class="add-dev-modal"
            action="/add-dev"
            method="post"
        >
            <a class="back-link" href="/add">Back</a>
            <input type="text" name="add_dev" placeholder="Developer name" />
            <button type="submit" onclick="modalToggle(addDevModal)">
                Submit
            </button>
        </form>
        <form
            style="display: none"
            class="add-genre-modal"
            action="/add-genre"
            method="post"
        >
            <a class="back-link" href="/add">Back</a>
            <input type="text" name="add_genre" placeholder="Genre name" />
            <button type="submit" onclick="modalToggle(addGenreModal)">
                Submit
            </button>
        </form>
    </body>
    <script defer>
        const addDevModal = document.querySelector(".add-dev-modal");
        const addGenreModal = document.querySelector(".add-genre-modal");
        const mainForm = document.querySelector(".form");
        function modalToggle(modal) {
            if (modal.style.display == "none") {
                modal.style.display = "flex";
                mainForm.style.opacity = "0.1";
            } else {
                modal.style.display = "none";
                mainForm.style.opacity = "1";
            }
        }
    </script>
</html>
